---
title: Frontend-портфолио Даниила Киянова
---
<div class="note">
    <h2 class="title note__title note__title--uppercase">Ачтунг!</h2>
    <ol class="list">
        <li class="list__item">
            <strong>На данный момент это портфолио отображается нормально только в современных браузерах и только на десктопах.</strong>
        </li>
        <li class="list__item">
            На этапе верстки я не парюсь по поводу некоторых невалидностей, вроде: пустых атрибутов action, дублирующихся id, отсутствующих alt и пр.
        </li>
        <li class="list__item">
            На всех демонстрационных страницах присутствуют мета-теги <code>&lt;meta name="robots" content="noindex"&gt;</code> и <code>&lt;meta name="robots" content="nofollow"&gt;</code>, чтобы никаким образом эти демо-страницы не повлияли на позиции оригинальных материалов.
        </li>
    </ol>
</div>

<div class="portfolio">
    {% for project in site.projects reversed %}
        <div class="portfolio__item">
        {% include project.html %}
        </div>
    {% endfor %}
</div>