<article class="work">
    <header class="work__header work__header--page--main">
        <h2 class="title work__title work__title--page--main">
            <a class="link work__title-link" href="{{ project.url }}">
                {{ project.name | capitalize }}
            </a>
            <span class="work__year">'{{ project.year }}</span>
        </h2>
        <p class="work__desc">{{ project.desc }}</p>
    </header>
    <ul class="tags list-reset work__tags">
        {% for tag in project.tags %}
        <li class="tags__item tags__item--t--{{ tag }}">
            {% for item in site.data.tags %}
                {% if item.code == tag %}
                    {{ item.name }}
                    {% break %}
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    <div class="work__content work__content--page--main {% if project.isJS %}work__content--bg--js{% endif %}">
        {% if project.isJS != true %}
        <img class="work__img" loading="lazy" src="/assets/images/{{ project.link }}/{{ project.pages[0].img }}" alt="Превью главной страницы проекта &laquo;{{ project.name }}&raquo;" width="500" height="282">
        {% endif %}
        <ul class="work-links list-reset work__links">
            <li class="work-links__item">
                <a class="work-links__link" href="{{ project.url }}">
                    <svg class="work-links__icon">
                        <use xlink:href="/assets/images/icons.svg#info"></use>
                    </svg>
                    <span class="work-links__text">Описаньице</span>
                </a>
            </li>
            <li class="work-links__item work-links__item--pos--middle">
                <a class="work-links__link" href="/{{ project.link }}/" target="_blank">
                    <svg class="work-links__icon">
                        <use xlink:href="/assets/images/icons.svg#eye"></use>
                    </svg>
                    <span class="link-away work-links__text">
                        Демо проекта
                        <svg class="link-away__icon work-links__away-icon">
                            <use xlink:href="/assets/images/icons.svg#new-window"></use>
                        </svg>
                    </span>
                </a>
            </li>
            <li class="work-links__item">
                <a class="work-links__link" href="https://github.com/thrnd/{{ project.repo }}" target="_blank">
                    <svg class="work-links__icon">
                        <use xlink:href="/assets/images/icons.svg#code"></use>
                    </svg>
                    <span class="link-away work-links__text">
                        Исходный код
                        <svg class="link-away__icon work-links__away-icon">
                            <use xlink:href="/assets/images/icons.svg#new-window"></use>
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</article>