<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        {% if page.url == "/" %}
            {{ page.title }}
        {% else %}
            {{ page.title }} - Даниил Киянов, Frontend-портфолио
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body class="page">
    {% include header.html %}
    <main class="main">
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>